<link rel="stylesheet" href="/css/home.css" />
<nav
  class="bg-white text-yellow-400 dark:bg-gray-900 fixed w-full z-20 top-0 left-0 border-b border-gray-200 dark:border-gray-600"
>
  <div
    class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4"
  >
    <a class="flex items-center" href="/">
      <span
        class="self-center text-2xl font-semibold whitespace-nowrap dark:text-yellow-400"
        >Csv Upload</span
      >
    </a>
  </div>
</nav>
