<link rel="stylesheet" href="/css/home.css" />
<nav
  class="bg-white dark:bg-gray-900 fixed w-full z-20 top-0 left-0 border-b border-gray-200 dark:border-gray-600"
>
  <div
    class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4"
  >
    <a class="flex items-center" href="/">

      <span
        class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white"
        >Csv Upload</span
      >
    </a>
    <!-- button -->
    <div class="flex md:order-2">
      <button
        onclick="window.dialog.showModal();"
        id="openModal"
        type="button"
        class="text-white bg-green-400 hover:bg-green-400 focus:ring-4 focus:outline-none focus:ring-green-400 font-medium rounded-lg text-sm px-4 py-2 text-center mr-3 md:mr-0 dark:bg-green-400 dark:hover:bg-green-400 dark:focus:ring-green-400"
        data-bs-toggle="modal"
        data-bs-target="#dialog"
      >
        Add Project
      </button>


      <dialog id="dialog">
        <h2>Add Project!</h2>
        <form action="/projects/create" method="post">
          <div>
            <input type="text" name="name" placeholder="Project Name" />
            <input
              type="text"
              name="description"
              placeholder="Project Description"
            />
            <input type="text" name="author" placeholder="Author name" />
          </div>
          <button
            class="text-white bg-green-400 hover:bg-green-400 focus:ring-4 focus:outline-none focus:ring-green-400 font-medium rounded-lg md:mr-0 text-sm px-2 py-3 dark:bg-green-400 dark:hover:bg-green-400 dark:focus:ring-green-400"
            type="submit"
          >
            Add Projects!
          </button>
        </form>
        <button onclick="window.dialog.close();" aria-label="close" class="x">
          ❌
        </button>
      </dialog>

      <!-- another modal -->

      <button
        data-collapse-toggle="navbar-sticky"
        type="button"
        class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
        aria-controls="navbar-sticky"
        aria-expanded="false"
      >
        <span class="sr-only">Open main menu</span>
        <svg
          class="w-5 h-5"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 17 14"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 1h15M1 7h15M1 13h15"
          />
        </svg>
      </button>
    </div>



  </div>
</nav>