<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>Document</title>
    <style></style>
  </head>
  <body>
    <div>
      <h1>csv upload viewer!!!</h1>
    </div>

    <div>
      <canvas id="myChart" width="400" height="100"></canvas>
    </div>

    <div>
      <table>
        <thead>
          <tr>
            <%for(let i of head) {%>
            <th><%=i %></th>
            <%}%>
          </tr>
        </thead>
        <tbody>
          <%for(let row of data) {%>
          <tr>
            <% for(let key of Object.keys(row)){%>

            <td><%=row[key]%></td>

            <%}%>
          </tr>
          <%}%>
        </tbody>
      </table>
    </div>
   <script src="/js/ajax_data.js"></script>
  </body>
</html>
